boto==2.5.2
django==1.4
django-compressor==1.1.2
django-crispy-forms==1.1.4
django-debug-toolbar==0.9.4
django-extensions==0.8
django-extensible-profiles==1.1
django-social-auth==0.7
django-storages==1.1.4
dj-database-url==0.2
gunicorn==0.14.3
psycopg2==2.4.5
raven==1.9.1
requests==0.13.5
South==0.7.5
