<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Movie Club</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">  
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/icon.png">
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">


  <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}scripts/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="{{ STATIC_URL}}scripts/libs/underscore.min.js"></script>
  <script src="{{ STATIC_URL}}scripts/libs/backbone.min.js"></script>

  <script src="{{ STATIC_URL}}scripts/libs/select2.min.js"></script>

  <script src="{{ STATIC_URL }}scripts/app.js"></script>

</head>

{% block body %}
<body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block pre_wrap %}{% endblock pre_wrap %}
    {% block wrap %}
    <div id="wrap">
        {% block wrap_content %}

            {% block header %}
                <header id="site-header">
                    <div class="structure">
                        {% block header_content %}
                            <h1 class="app-title">MovieClub</h1>
                        {% endblock header_content %}
                    </div>
                </header>
            {% endblock header %}

            {% block page %}
                <div id="site-main">
                    {% if messages %}
                        {% block messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endblock messages %}
                    {% endif %}
                    <div class="structure">
                        {% block page_content %}
                            {% block content %}
                            {% endblock content %}
                        {% endblock page_content %}
                    </div>
                </div>
            {% endblock page %}

            {% block footer %}
                <footer id="site-footer">
                    <div class="structure">
                        {% block footer_content %}
                        {% endblock footer_content %}
                    </div>
                </footer>
            {% endblock footer %}
        {% endblock wrap_content %}
    </div>
    {% endblock wrap %}
    {% block post_wrap %}{% endblock post_wrap %}

</body>
{% endblock %}
</html>
