{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <h1>{{ movie }}</h1>
            <p>Submitted by: {{ movie.user }}</p>
            <p>{{ movie.overview }}</p>
        </div>
        <div class="search-area">
            <form action="/" method="post">
                {% csrf_token %}
                <input type="hidden" id="movie-data" name="movie-data">
                <div class="controlHolder"><input type="text" id="movie-search" name="movie-id"></div>
                <input type="submit" value="Search">
            </form>
        </div>
    {% else %}
        <a href="{% url socialauth_begin 'google-oauth2' %}">Log in</a>
    {% endif %}
{% endblock %}
