/* line 15, ../../sass/plugins/_reset.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 28, ../../sass/plugins/_reset.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 33, ../../sass/plugins/_reset.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 44, ../../sass/plugins/_reset.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 47, ../../sass/plugins/_reset.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  height: 100%;
}

/* line 54, ../../sass/plugins/_reset.sass */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
  color: white;
}

/* line 67, ../../sass/plugins/_reset.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 70, ../../sass/plugins/_reset.sass */
b, strong {
  font-weight: bold;
}

/* line 73, ../../sass/plugins/_reset.sass */
blockquote {
  margin: 1em 40px;
}

/* line 76, ../../sass/plugins/_reset.sass */
dfn {
  font-style: italic;
}

/* line 79, ../../sass/plugins/_reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 87, ../../sass/plugins/_reset.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 92, ../../sass/plugins/_reset.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 98, ../../sass/plugins/_reset.sass */
p {
  margin: 0 0 1.5em 0;
}

/* line 103, ../../sass/plugins/_reset.sass */
pre, code, kbd, samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 1em;
}

/* line 109, ../../sass/plugins/_reset.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 114, ../../sass/plugins/_reset.sass */
q {
  quotes: none;
}
/* line 116, ../../sass/plugins/_reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 120, ../../sass/plugins/_reset.sass */
small {
  font-size: 85%;
}

/* line 125, ../../sass/plugins/_reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 131, ../../sass/plugins/_reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 138, ../../sass/plugins/_reset.sass */
sub {
  bottom: -0.25em;
}

/* line 145, ../../sass/plugins/_reset.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 149, ../../sass/plugins/_reset.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 151, ../../sass/plugins/_reset.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 164, ../../sass/plugins/_reset.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 171, ../../sass/plugins/_reset.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 180, ../../sass/plugins/_reset.sass */
label {
  cursor: pointer;
}

/* line 186, ../../sass/plugins/_reset.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 196, ../../sass/plugins/_reset.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 204, ../../sass/plugins/_reset.sass */
button, input {
  line-height: normal;
}

/* line 211, ../../sass/plugins/_reset.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 217, ../../sass/plugins/_reset.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
/* line 221, ../../sass/plugins/_reset.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
/* line 226, ../../sass/plugins/_reset.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 231, ../../sass/plugins/_reset.sass */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 236, ../../sass/plugins/_reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 243, ../../sass/plugins/_reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 252, ../../sass/plugins/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 256, ../../sass/plugins/_reset.sass */
td {
  vertical-align: top;
}

/* line 1, ../../sass/plugins/_select2.sass */
.select2-container {
  position: relative;
  display: inline-block;
}

/* line 6, ../../sass/plugins/_select2.sass */
.select2-container .select2-choice {
  background-color: white;
  border: 1px solid #aaaaaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}
/* line 18, ../../sass/plugins/_select2.sass */
.select2-container .select2-choice span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 26, ../../sass/plugins/_select2.sass */
.select2-container .select2-choice abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 12px;
  font-size: 1px;
  background: url(../images/select2.png) right top no-repeat;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  outline: 0;
}
/* line 39, ../../sass/plugins/_select2.sass */
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}
/* line 42, ../../sass/plugins/_select2.sass */
.select2-container .select2-drop {
  background: white;
  border: 1px solid #aaaaaa;
  border-top: 0;
  position: absolute;
  top: 100%;
  z-index: 999;
  width: 100%;
  margin-top: -1px;
}
/* line 51, ../../sass/plugins/_select2.sass */
.select2-container .select2-choice div {
  background: #cccccc;
  border-left: 1px solid #aaaaaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
/* line 60, ../../sass/plugins/_select2.sass */
.select2-container .select2-choice div b {
  background: url("../images/select2.png") no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 65, ../../sass/plugins/_select2.sass */
.select2-container .select2-search {
  display: inline-block;
  white-space: nowrap;
  z-index: 1010;
  min-height: 26px;
  width: 100%;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 74, ../../sass/plugins/_select2.sass */
.select2-container .select2-search-hidden {
  display: block;
  position: absolute;
  left: -10000px;
}
/* line 78, ../../sass/plugins/_select2.sass */
.select2-container .select2-search input {
  background: white url("../images/../images/select2.png") no-repeat 100% -22px;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaaaaa;
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0;
  height: auto !important;
  min-height: 26px;
}
/* line 89, ../../sass/plugins/_select2.sass */
.select2-container .select2-search input.select2-active {
  background: white url("../images/../images/spinner.gif") no-repeat 100%;
}

/* line 93, ../../sass/plugins/_select2.sass */
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
}

/* line 97, ../../sass/plugins/_select2.sass */
.select2-dropdown-open .select2-choice {
  border: 1px solid #aaaaaa;
  border-bottom-color: transparent;
  background-color: #eeeeee;
}
/* line 101, ../../sass/plugins/_select2.sass */
.select2-dropdown-open .select2-choice div {
  background: transparent;
  border-left: none;
}
/* line 104, ../../sass/plugins/_select2.sass */
.select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px;
}

/* results */
/* line 109, ../../sass/plugins/_select2.sass */
.select2-container .select2-results {
  margin: 4px 4px 4px 0;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}
/* line 116, ../../sass/plugins/_select2.sass */
.select2-container .select2-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  display: list-item;
}
/* line 123, ../../sass/plugins/_select2.sass */
.select2-container .select2-results .select2-highlighted {
  background: #3875d7;
  color: white;
}
/* line 126, ../../sass/plugins/_select2.sass */
.select2-container .select2-results li em {
  background: #feffde;
  font-style: normal;
}
/* line 129, ../../sass/plugins/_select2.sass */
.select2-container .select2-results .select2-highlighted em {
  background: transparent;
}
/* line 131, ../../sass/plugins/_select2.sass */
.select2-container .select2-results .select2-no-results {
  background: #f4f4f4;
  display: list-item;
}
/* line 134, ../../sass/plugins/_select2.sass */
.select2-container .select2-results .select2-disabled {
  display: none;
}

/* line 138, ../../sass/plugins/_select2.sass */
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}
/* line 139, ../../sass/plugins/_select2.sass */
.select2-more-results.select2-active {
  background: #f4f4f4 url("../images/spinner.gif") no-repeat 100%;
}

/* disabled styles */
/* line 146, ../../sass/plugins/_select2.sass */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #dddddd;
  cursor: default;
}
/* line 151, ../../sass/plugins/_select2.sass */
.select2-container.select2-container-disabled .select2-choice div {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

/* multiselect */
/* line 159, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices {
  background-color: white;
  border: 1px solid #aaaaaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
/* line 169, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-drop {
  margin-top: 0;
}
/* line 171, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices {
  min-height: 26px;
}
/* line 173, ../../sass/plugins/_select2.sass */
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
}
/* line 177, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
/* line 180, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices .select2-search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
/* line 184, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices .select2-search-field input {
  color: #666666;
  background: transparent !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  border: 0;
}

/* line 195, ../../sass/plugins/_select2.sass */
.select2-default {
  color: #999999 !important;
}

/* line 199, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices .select2-search-choice {
  background-color: #e4e4e4;
  color: #333333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
/* line 208, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default;
}
/* line 210, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

/* line 213, ../../sass/plugins/_select2.sass */
.select2-search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(select2.png) right top no-repeat;
  outline: none;
}

/* line 225, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}
/* line 228, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover, .select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}
/* line 230, ../../sass/plugins/_select2.sass */
.select2-container-multi .select2-results {
  margin: -1px 0 0;
  padding: 0;
}
/* line 233, ../../sass/plugins/_select2.sass */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #dddddd;
  cursor: default;
}
/* line 238, ../../sass/plugins/_select2.sass */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  background-image: none;
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
  padding: 3px 5px 3px 5px;
}
/* line 243, ../../sass/plugins/_select2.sass */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
}

/* line 15, ../../sass/shared/_forms.sass */
form {
  margin: 0 0 18px;
}

/* line 18, ../../sass/shared/_forms.sass */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 24, ../../sass/shared/_forms.sass */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  line-height: 27px;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}
/* line 33, ../../sass/shared/_forms.sass */
legend small {
  font-size: 13.5px;
  color: #999999;
}

/* line 38, ../../sass/shared/_forms.sass */
label {
  display: block;
  margin-bottom: 5px;
}

/* line 43, ../../sass/shared/_forms.sass */
input,
textarea,
select,
.uneditable-input {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 58, ../../sass/shared/_forms.sass */
.uneditable-textarea {
  width: auto;
  height: auto;
}

/* line 63, ../../sass/shared/_forms.sass */
label input,
label textarea,
label select {
  display: block;
}

/* line 69, ../../sass/shared/_forms.sass */
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  border: 0 \9 ;
}

/* line 81, ../../sass/shared/_forms.sass */
input[type="image"] {
  border: 0;
}

/* line 85, ../../sass/shared/_forms.sass */
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: initial;
}

/* line 93, ../../sass/shared/_forms.sass */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}

/* line 100, ../../sass/shared/_forms.sass */
select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}

/* line 107, ../../sass/shared/_forms.sass */
input[type="file"] {
  line-height: 18px \9;
}

/* line 112, ../../sass/shared/_forms.sass */
select {
  width: 220px;
  background-color: white;
}

/* line 117, ../../sass/shared/_forms.sass */
select[multiple],
select[size] {
  height: auto;
}

/* line 122, ../../sass/shared/_forms.sass */
textarea {
  height: auto;
}

/* line 127, ../../sass/shared/_forms.sass */
input[type="hidden"] {
  display: none;
}

/* line 134, ../../sass/shared/_forms.sass */
.radio,
.checkbox {
  padding-left: 18px;
}

/* line 138, ../../sass/shared/_forms.sass */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

/* line 145, ../../sass/shared/_forms.sass */
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

/* line 152, ../../sass/shared/_forms.sass */
.radio.inline,
.checkbox.inline {
  padding-top: 5px;
  margin-bottom: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 158, ../../sass/shared/_forms.sass */
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/* line 164, ../../sass/shared/_forms.sass */
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}

/* line 176, ../../sass/shared/_forms.sass */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #eeeeee;
  border-color: #dddddd;
  cursor: not-allowed;
}

/* line 193, ../../sass/shared/_forms.sass */
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
/* line 197, ../../sass/shared/_forms.sass */
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
/* line 202, ../../sass/shared/_forms.sass */
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  border-color: #c09853;
}
/* line 208, ../../sass/shared/_forms.sass */
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
/* line 212, ../../sass/shared/_forms.sass */
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
/* line 217, ../../sass/shared/_forms.sass */
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  border-color: #b94a48;
}
/* line 223, ../../sass/shared/_forms.sass */
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
/* line 228, ../../sass/shared/_forms.sass */
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
/* line 234, ../../sass/shared/_forms.sass */
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  border-color: #468847;
}

/* line 241, ../../sass/shared/_forms.sass */
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/* line 251, ../../sass/shared/_forms.sass */
.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #eeeeee;
  border-top: 1px solid #dddddd;
  zoom: 1;
}
/* line 3, ../../sass/globals/_mixins.sass */
.form-actions:before, .form-actions:after {
  content: "";
  display: table;
}
/* line 6, ../../sass/globals/_mixins.sass */
.form-actions:after {
  clear: both;
}

/* line 261, ../../sass/shared/_forms.sass */
.uneditable-input {
  display: block;
  background-color: white;
  border-color: #eeeeee;
  cursor: not-allowed;
}

/* line 269, ../../sass/shared/_forms.sass */
:-moz-placeholder {
  color: #999999;
}

/* line 272, ../../sass/shared/_forms.sass */
::-webkit-input-placeholder {
  color: #999999;
}

/* line 279, ../../sass/shared/_forms.sass */
.help-block,
.help-inline {
  color: #555555;
}

/* line 284, ../../sass/shared/_forms.sass */
.help-block {
  display: block;
  margin-bottom: 9px;
}

/* line 289, ../../sass/shared/_forms.sass */
.help-inline {
  padding-left: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 303, ../../sass/shared/_forms.sass */
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 0;
}
/* line 314, ../../sass/shared/_forms.sass */
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

/* line 317, ../../sass/shared/_forms.sass */
.form-search label,
.form-inline label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 322, ../../sass/shared/_forms.sass */
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

/* line 329, ../../sass/shared/_forms.sass */
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 338, ../../sass/shared/_forms.sass */
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/* line 347, ../../sass/shared/_forms.sass */
.control-group {
  margin-bottom: 9px;
  zoom: 1;
}
/* line 3, ../../sass/globals/_mixins.sass */
.control-group:before, .control-group:after {
  content: "";
  display: table;
}
/* line 6, ../../sass/globals/_mixins.sass */
.control-group:after {
  clear: both;
}

/* line 352, ../../sass/shared/_forms.sass */
legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}

/* line 362, ../../sass/shared/_forms.sass */
.form-horizontal .control-group {
  margin-bottom: 18px;
}
/* line 366, ../../sass/shared/_forms.sass */
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
/* line 373, ../../sass/shared/_forms.sass */
.form-horizontal .controls {
  margin-left: 160px;
  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px;
}
/* line 381, ../../sass/shared/_forms.sass */
.form-horizontal .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}
/* line 386, ../../sass/shared/_forms.sass */
.form-horizontal .form-actions {
  padding-left: 160px;
}

/* line 1, ../../sass/shared/_buttons.sass */
.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
}

/* line 57, ../../sass/main.sass */
body {
  background: url(../images/site-bg.png) repeat;
}

/* line 60, ../../sass/main.sass */
.app-title {
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 264px;
  height: 84px;
  margin: 0 auto;
  background: url(../images/site-logo.png) no-repeat;
}

/* line 68, ../../sass/main.sass */
.search-area {
  width: 70%;
  margin: 0 auto;
}
/* line 71, ../../sass/main.sass */
.search-area form {
  position: relative;
}
/* line 73, ../../sass/main.sass */
.search-area .controlHolder {
  width: 100%;
  padding: 0 47px 0 0;
}
/* line 76, ../../sass/main.sass */
.search-area #movie-search {
  width: 100%;
}
/* line 78, ../../sass/main.sass */
.search-area input[type=submit] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 37px;
  height: 37px;
  border: 0;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  background: url(../images/search-icon.png) no-repeat;
}

/* line 91, ../../sass/main.sass */
.select2-container {
  color: #111111;
}

/* line 95, ../../sass/main.sass */
.select2-result .movie-item img {
  display: inline-block;
  vertical-align: top;
  max-width: 50px;
  margin: 0 10px 0 0;
}

/* line 101, ../../sass/main.sass */
.clearfix, .movie-list .movie-item {
  zoom: 1;
}
/* line 3, ../../sass/globals/_mixins.sass */
.clearfix:before, .movie-list .movie-item:before, .clearfix:after, .movie-list .movie-item:after {
  content: "";
  display: table;
}
/* line 6, ../../sass/globals/_mixins.sass */
.clearfix:after, .movie-list .movie-item:after {
  clear: both;
}

/* line 105, ../../sass/main.sass */
.movie-list {
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4b4b4b;
}
/* line 109, ../../sass/main.sass */
.movie-list .movie-item {
  padding: 5%;
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #1a1a1a;
  color: white;
  cursor: pointer;
}
/* line 117, ../../sass/main.sass */
.movie-list .movie-cover {
  width: 20%;
  float: left;
  margin: 0 3% 0 0;
}
/* line 121, ../../sass/main.sass */
.movie-list .movie-cover img {
  max-width: 100%;
}
/* line 123, ../../sass/main.sass */
.movie-list .movie-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
/* line 129, ../../sass/main.sass */
.movie-list .movie-rating {
  display: block;
  font-size: 16px;
  font-style: italic;
}
/* line 135, ../../sass/main.sass */
.movie-list .movie-detail {
  display: none;
  float: left;
  margin: 5% 0 0 0;
}
/* line 141, ../../sass/main.sass */
.movie-list .movie-submitter {
  display: block;
  font-size: 16px;
  font-style: italic;
}
/* line 146, ../../sass/main.sass */
.movie-list .movie-overview {
  margin: 0;
}
