{% extends "base.html" %}

{% block content %}
<div class="movie-list">
{% for movie in object_list %}
    <div class="movie-item">
        <div class="movie-cover"><img src="http://placehold.it/200x400"></div>
        <a href="{{ movie.get_absolute_url }}" class="movie-title">{{ movie }}</a>
        <span class="movie-rating">{% if movie.score %}{{ movie.score }}/10{% else %}Not yet rated.{% endif %}</span>
        <div class="movie-detail">
            <span class="movie-submitter">Submitted by: {{ movie.user }}</span>
            <p class="movie-overview">{{ movie.overview }}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
