{% extends "base.html" %}

{% block content %}
<select>
    <option>Created: Newest -> Oldest</option>
    <option>Created: Oldest -> Newest</option>
    <option>Club Order</option>
    <option>Rating: 10 -> 0</option>
    <option>Rating: 0 -> 10</option>
</select>
<div class="movie-list">
{% for movie in object_list %}
    <div class="movie-item" data-movie-url="{{ movie.get_absolute_url }}">
        <div class="movie-cover"><img src="{{ movie.poster }}"></div>
        <span class="movie-title">{{ movie }}</span>
        <span class="movie-submitter">Submitted by: {{ movie.user }}</span>
        <span class="movie-rating">{% if movie.score %}{{ movie.score }}/10{% else %}Not yet rated.{% endif %}</span>
        <div class="movie-detail">
            <p class="movie-overview">{{ movie.overview }}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
