{% extends "base.html" %}

{% block content %}
<select>
    <option>Created: Newest -> Oldest</option>
    <option>Created: Oldest -> Newest</option>
    <option>Club Order</option>
    <option>Rating: 10 -> 0</option>
    <option>Rating: 0 -> 10</option>
</select>
{% for movie in object_list %}
    <div class="movie">
        <h2><a href="{{ movie.get_absolute_url }}">{{ movie }}</a></h2>
        <img src="{{ movie.thumbnail }}">
        <p>Submitted by: {{ movie.user }}</p>
        {% if movie.rating %}
        <p>{{ movie.rating }}/10</p>
        {% endif %}
        <p>{{ movie.overview }}</p>
    </div>
{% endfor %}
{% endblock %}
